<div class="product">
  <div class="image">
    <img src="<%=product.image%>" />
  </div>
  <span class="name"> <%=product.name %> </span>
  <span class="price"> <%=product.price%> </span>
  <div class="buttons">
    <form method="POST" action="/add-to-cart/<%=product.id%>">
      <button class="addButton" type="submit">Add to cart</button>
    </form>
    <form method="GET" action="/product-details/<%=product.id%>">
      <button class="detailsButton">View details</button>
    </form>
  </div>
</div>
